<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="module" src="/js/nav-component.js" defer></script>
    <title>MDL Example</title>
    <!-- MDL CSS -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"> 
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Materialize Icons (optional) -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="module" src="/js/fork_component.js"></script>
    <script type="module" src="/js/view_controller.js"></script>
    <script type="module" src="/js/repo-component.js"></script>
    <script type="module" src="/js/repo_container.js"></script>
</head>
<body>
    <view-controller></view-controller> 
</body>
</html>
