body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px; /* Bredden på containern */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-options {
    display: flex;
    flex-direction: column;
}

.option {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Gör så att de fyller hela bredden på containern */
    max-width: 445px; /* Sätter en maximal bredd på inmatningsfälten */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%; /* Gör knappen lika bred som inmatningsfälten */
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.github-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}

.github-button:hover {
    background-color: #555;
}
